.b-radio {
  --margin-right: 10px;
  --size: 22px;
  --active: #fff;
  --active-inner: #275efe;
  --focus: 0 0 0 2px rgba(39, 94, 254, .3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #b0b5e3;
  display: flex;
  align-items: center;
}

.b-radio__control {
  position: relative;
  margin-right: var(--margin-right);
  appearance: none;
  outline: none;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--border);
  background: var(--background);
  transition: background .3s, border-color .3s, box-shadow .2s;

  /*radio inner*/

  &::after {
    display: none;
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color:var(--active-inner);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.b-radio__control:checked {
  background: var(--active);
  border-color: var(--active-inner);

  &::after {
    display: block;
  }
}

.b-radio__control:disabled {
  background: var(--disabled);
  border-color: var(--disabled-inner);
  cursor: not-allowed;

  &::after {
    background-color: var(--disabled-inner);
  }
}

.b-radio__control:hover:not(:disabled) {
  border-color: var(--border-hover);
}

.b-radio__control:focus {
  box-shadow: var(--focus);
}
