.imgBox {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
}



.container {
  display: flex;
  position: relative;
  width: 900px;
  justify-content: space-between;
}
